body {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body.preview {
    overflow: hidden;
}
canvas {
    position: fixed;
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#hud {
    display: block;
    margin: 0 auto;
    z-index: 2;
    color: #0FF;
    text-align: center;
    font-family: 'square-font';
    font-size: 8vh;
}

#speedtext {
    position: absolute;
    top: 23vh;
    width: 100vw;
    display: block;
    margin: 0 auto;
    color: #0FF;
    text-align: center;
    font-family: 'square-font';
    font-size: 5vh;
}

@font-face {
    font-family: 'square-font'; /*a name to be used later*/
    src: url('Textures/Squares.ttf'); /*URL to font*/
}
